<!DOCTYPE html>
<html>
<head>
    <title>Intro to Node and MongoDB</title>
</head>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

<body>
<h1>Registration Form</h1>
<form method="post" action="/addreg">
    <table>
        <tr>
            <td><label>First Name</label></td>
            <td><input type="text" name="firstname" value="" placeholder="Enter first name"></td>
        </tr>
        <tr>
            <td><label>Last Name</label></td>
            <td><input type="text" name="lastname" value="" placeholder="Enter last name"></td>
        </tr>
        <tr>
            <td><label>Address</label></td>
            <td><input type="text" name="address" value="" placeholder="Enter address"></td>
        </tr>
        <tr>
            <td><label>Email</label></td>
            <td><input type="text" name="email" value="" placeholder="Enter email"></td>
        </tr>
        <tr>
            <td><label>Username</label></td>
            <td><input type="text" name="username" value="" placeholder="Enter username"></td>
        </tr>
        <tr>
            <td><label>Password</label></td>
            <td><input type="text" name="password" value="" placeholder="Enter password"></td>
        </tr>
        <tr>
            <td><label>Gender</label></td>
            <td><input type="text" name="gender" value="" placeholder="Enter gender"></td>
        </tr>
        <tr>
            <td><input type="submit" value="Save"></td>
        </tr>
    </table>
</form>
</body>
</html>